Source: python-qt4-qws
Section: libs
Priority: optional
Maintainer: David Boddie <david.boddie@met.no>
Build-Depends: debhelper (>= 8.9.9),
               dpkg-dev (>= 1.16.1),
               libqt4-qws-dev,
               python-sip-dev
Standards-Version: 3.9.2
Homepage: http://www.riverbankcomputing.co.uk/software/pyqt/

Package: python-qt4-qws
Architecture: any
Depends: python-sip, libqtcore4-qws, libqtgui4-qws, libqt4-xml-qws, libqt4-network-qws
Description: Python bindings for Qt4
