#!/usr/bin/make -f

build:
	dh_quilt_patch
	cp $(CURDIR)/debian/qws-patches/configure-qws.py configure.py
	cp $(CURDIR)/debian/qws-patches/qtdirs.out qtdirs.out
	python $(CURDIR)/debian/qws-patches/patch_files.py $(CURDIR)/debian/qws-patches/ $(CURDIR)
	CROSS_SIPCONFIG=/usr/lib/python2.7/dist-packages python configure.py \
	    -b /opt/qt4-qws/bin \
	    -d /opt/qt4-qws/lib/python2.7/site-packages \
	    -l /usr/include/python2.7 \
	    -m /usr/lib/python2.7/config \
	    -q /opt/qt4-qws/bin/qmake \
	    -v /opt/qt4-qws/share/sip/PyQt4 \
	    -w --confirm-license
	$(MAKE)

clean:
	dh_testdir
	dh_testroot
	[ ! -f Makefile ] || $(MAKE) clean
	dh_quilt_unpatch
	python $(CURDIR)/debian/qws-patches/undo_patches.py $(CURDIR)
	dh_clean

install:
	mkdir $(CURDIR)/debian/tmp
	$(MAKE) DESTDIR=$(CURDIR)/debian/tmp install

binary: binary-arch binary-indep

binary-indep:

binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	#dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: build clean binary-indep binary-arch binary install configure
